.title {
  text-align: center;
}

.mapContainer {
  display: flex;
  justify-content: center;
}

.diners {
  display: flex;
  flex-direction: column;
  float: left;
}

.dinerList:hover {
  cursor: pointer;
  color: aqua;
}
